@import url(./_theme/table__cell_theme_dark.css);
.table__cell {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 250px;
    align-items: flex-start;
    margin-top: 60px;  
  }